*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0px;
}

h1 {
  line-height: 1.1;
  font-size: 5rem;
  max-width: 13ch;
}

.container {
  --max-width: 50rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}

.hero-title {
  mix-blend-mode: color-burn;
  opacity: 0.5;
}

/* .semi-transparent-text {
  mix-blend-mode: color-burn;
  opacity: 0.5;
} */

.hero {
  position: relative;
  isolation: isolate;
  padding: 1em;
}

.canvas-container {
  position: absolute;
  z-index: -1;
  inset: 0;
  height: 40vh;
  clip-path: polygon(0 0, 100% 0%, 100% 35%, 0% 100%);
}

canvas {
  width: 100%;
  height: 100%;
}
